.Section{
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MenuContainer{
  width: 770px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #465b7f;
  border-radius: 10px;
  color: white;
  position: relative;
  margin-bottom: 0%;
  box-sizing: border-box;
}

.MenuButton{
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  gap: 10px;
  
}

.MenuButton:hover {
  background-color: #465b7f;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.MenuButton:active { 
  background-color: #465b7f;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.Dropdown button {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  gap: 10px;
}

.Dropdown button:hover {
  background-color: #465b7f;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.Dropdown button:active {
  background-color: #465b7f;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

.Dropdown .DropdownContent {
  display: none;
  position: absolute;
  margin-top: -80px;
  z-index: 999;
}

.Dropdown .DropdownContent a {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Dropdown .DropdownContent a:hover {
  background-color: #465b7f;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.Dropdown:hover button {
  background-color: #465b7f;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.Grid{
  max-width: 775px;
  /* min-width: 775px; */
  width: 775px;
  max-height: 775px;
  /* min-height: 775px; */
  /* min-width: 50%; */
  /* min-height: 20%; */
  border: 2px solid #465b7f;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #465b7f;
}

.Cell{
  background-color: #d9d9d9;
  width: 10%;
  height: 10%;
  border: 1px solid #465b7f;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.Legends{
  margin-top: 1%;
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  user-select: none;
  /* background-color: #465b7f; */
  border-radius: 2px;
}

